{% load static %}

        <footer class="white-wrapper ">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-12 wow fadeIn mb30 heading-font" data-wow-delay="0.2s">
                        {% comment %} <img width="200px" height="250px" src="{% static 'assets/img/logo/logo.png' %}">  {% endcomment %}

                        <h1 class="">BAZROZ</h1>
                        <p>BAZROZ Restaurant & Bar</p>
                        <p>Adresse xxxxxxxxx, telefon xxxxxxxx, email@lxxxxxxxx.com</p>
                        <p>Open: 09:00 am – 01:00 pm </p>
                    </div>
                    <div class="col-md-12 wow fadeIn">
                        <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.2s">
   

                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>