{% load static %}

        <footer class="white-wrapper ">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-md-12 wow fadeIn mb30 heading-font" data-wow-delay="0.2s">
                        {% comment %} <img width="200px" height="250px" src="{% static 'assets/img/logo/logo.png' %}">  {% endcomment %}

                        <h1 class="footer-img"><img  src="{% static 'assets/img/Bazroz_Logo_schrift.png' %}"> </h1>
                       
                        <p>Hauptstraße 4, 2340 Mödling</p>
                        <p>02236864023, bazroz.restaurant@gmail.com</p>
                        
                    </div>
                    <div class="col-md-12 wow fadeIn">
                        <ul class="list-inline social-links wow fadeIn" data-wow-delay="0.2s">
   

                            <li>
                                <a href="https://www.facebook.com/bazroz.restaurant"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/bazroz.restaurant"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.tripadvisor.at/Profile/bazrozr"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>