{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="a5_vhn4wKGzdF4sPt6wVJQ1tLBTRoDUQdI3C4JSkSYE" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/ico/favicon.png' %}">

    <title>BAZROZ</title>

   
{% include "includes/links.html" %}

</head>
    
<div class="wrapper ">
      <header>
        <i class="bx bx-cookie"></i>
        <h2>Cookie Einstellungen</h2>
      </header>
      <div class="data">
        <p style="font-family: futurebook;">Gemäß unseren Datenschutzrichtlinien verwenden wir Cookies auf unserer Website. Einige davon sind unerlässlich, während andere die Funktionalität verbessern und Ihr Nutzungserlebnis optimieren.</p>
      </div>
      <div class="buttons ">
        <button class="button" id="acceptBtn">Ich akzeptiere</button>
        <button class="button" id="declineBtn">Nur essenzielle Cookies akzeptieren</button>

      </div>
     <div style="margin-top: 10px;" class="row">
        <div class="col-xs-4"><a href="{% url 'cookies_details' %}  ">Cookie-details</a></div>
        <div class="col-xs-5"><a href="{% url 'Datenschutzerklarung' %}">Datenschutzerklarung</a></div>
        <div class="col-xs-3"><a href="{% url 'impressum' %}">Impressum</a></div>

     </div>     
    </div>



<body id="page-top" class="regular-navigation">



    <div class="master-wrapper">
        
        <div class="preloader">
            <div class="preloader-img">
            	<span class="loading-animation animate-flicker"><img src="{% static 'assets/img/loading.GIF' %}" alt="loading" /></span>
            </div>
        </div>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top fadeInDown " data-wow-delay="0.2s">
            <div class="container-fluid home">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                    
                    <!-- <a class="logo smoothie" href="{% url 'home'  %}"><img  src="{% static 'assets/img/logo/logo.png' %}"> </a>  -->
                    
                   <a class="navbar-brand smoothie " href="{% url 'home'  %}"><img  src="{% static 'assets/img/nur_name_Bazroz.png' %}"> </span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#headerwrap" class="page-scroll">H O M E</a></li>  
                        <li><a href="#about" class="page-scroll">Ü B E R &nbsp U N S</a></li>  
                        <li><a href="#the-menu" class="page-scroll">S P E I S E N</a></li>    
                        <li><a href="#contact" class="page-scroll">K O N T A K T</a></li>      
                        <li><a  href="{% url 'menu'  %}" class="page-scroll main_menu_link btn  no-underline">MENU</a></li>      



                    </ul>

                </div>

                
                <!-- /.navbar-collapse -->         

            </div>
            <div class="horizontal-line"></div>
            <!-- /.container-fluid -->
        </nav>


        
        <!-- Header -->
        <header id="headerwrap" class="backstretched fullheight covered-section">
            
            <div class="container-fluid fullheight">
                <div class="vertical-center row">
                    <div class="col-sm-1 pull-left text-center slider-control match-height">
                        <a href="#" class="prev-bs-slide vertical-center wow fadeInLeft" data-wow-delay="0.5s">
                            
                            <img src="{% static 'assets/img/arrow_backward.svg' %}" alt="">    
                            <!-- <i class="fa fa-long-arrow-left"></i> -->
                        </a>
                    </div>
                    <div class="intro-text text-center smoothie col-sm-10 match-height">                    
                        <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.5s">
                            <p>Willkommen in Restaurant</p>
                        <h1>Bazroz</h1>
                        <p class="intro_description">dem Ort, an dem herzliche Atmosphäre und exzellente Küche aufeinandertreffen und jeden Besuch zu einem unvergesslichen Erlebnis machen. </p>
                        </div>              
                    </div>
                    <div class="col-sm-1 pull-right text-center slider-control match-height">
                        <a href="#" class="next-bs-slide vertical-center wow fadeInRight" data-wow-delay="0.5s">
                            
                        <img src="{% static 'assets/img/arrow_forward.svg' %}" alt="">    
                    
                            <!-- <i class="fa fa-long-arrow-right"></i> -->
                        </a>
                    </div>
                </div>
            </div>
        </header>
        
        <section id="about" class="covered-section green-back">

            <div class="vertical-line1 visible-lg"></div>
            <div class="vertical-line2  visible-lg"></div>

            <div class="section-inner">

                <div class="container">
                    <div class="row">
                    
                        <div class="col-lg-12 text-center mb50 wow fadeIn">                        
                            <h2 class="section-heading"> <img class="hidden-xs hidden-sm" src="{% static 'assets/img/bg/title_icon.png' %}" alt=""> ÜBER  UNS <img class="hidden-xs hidden-sm" src="{% static 'assets/img/bg/title_icon.png' %}" alt=""></h2>
                            <!-- <hr class="thin-hr"> -->
                         
                            <h3 class="section-subheading">
                                Das Restaurant Bazroz, im Mödling, verbindet traditionelle Kochkunst mit einem Hauch von Moderne. Unser engagiertes Team hat sich dem Ziel verschrieben, jedem Gast ein unvergessliches kulinarisches Erlebnis zu bieten. Mit Leidenschaft für Qualität und einem Auge für Detail kreieren wir Gerichte, die nicht nur den Gaumen erfreuen, sondern auch die Seele berühren. Bei uns ist jeder Besuch mehr als nur eine Mahlzeit – es ist eine Feier der Geschmacksvielfalt und Gastfreundschaft.
                            </h3>
                  
                        </div>
                    </div>
                

                <div>
                 
                        <div class=" wow fadeIn text-center">
                            <div class="col-lg-4 col-xs-6 col-md-5 about_image_container">
                                <div class="image_overlay">
                                    <img class="about_image" src="{% static 'assets/img/bg/about2.jpg' %}" alt="">
                                </div>
                            </div>
                  
                            <div  class="col-md-2 visible-md">
                            </div>

                            <div  class="col-lg-4  visible-lg">
                                
                                <img style="width: auto;" class="about_image" src="{% static 'assets/img/bg/about-middle.png' %}" alt="">

                            </div>
                            <div class="col-lg-4 col-md-5 col-xs-6  hidden-xs hidden-sm about_image_container">
                                <div class="image_overlay ">
                                <img class="about_image" src="{% static 'assets/img/bg/about1.jpg' %}" alt="">
                            </div>
                                    </div>

                    </div>

          
            </div>

            </div>

        </div>
        </section>


   

        <section id="the-menu" class="tangaroa-back">
            <div class="section-inner">
                {% for category, menu_items in menu_items_by_category.items %}

                 <div class="container wow fadeIn">
                    <div class="row">
                        <div class="col-lg-12 text-center mb50">
                            <h2  class="section-heading"><img class="hidden-xs hidden-sm" src="{% static 'assets/img/bg/title_icon.png' %}" alt="">{{ category }}<img class="hidden-xs hidden-sm" src="{% static 'assets/img/bg/title_icon.png' %}" alt=""></h2>
                        </div>
                    </div>
                </div>
                
                <div class="container">


                    <div class="row wow fadeIn">
                        {% for item in menu_items %}
                    
                        <div class="col-md-6 ">
           
                            <div class="food-menu-item">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <img src="{{ MEDIA_URL }}{{ item.image.url }}" class="img-responsive">
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="menu-item-info">
                                           
                                            <h3 class="item_title">{{ item.name }}</h3>
                                     
                                            <div class="vertical-lines ">
                                                <div class="line"></div>
                                                <div class="line"></div>
                                            </div>
                                            <h3 >€{{ item.price }}</h3>
                                        </div>

                              

                                            {% if  item.description %}
                                        <p>{{ item.description }}</p>
                                   
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                      
                        {% endfor %}


                    </div>
        
                             
                        
                    
                </div>
              

                {% endfor %}
                <div style="display: flex;align-items: center;justify-content: center; margin-top: 25px;" class="row">
                    <div  class="col-3">
                        
                  <a href="{% url 'menu'  %}"><button type="button" class="custom-button btn btn-primary">S P E I S E K A R T E</button></a>  
                </div>
                   </div>
            </div>
        </section>

    <section id="contact" class=" green-back parallax" data-parallax="scroll"  data-speed="0.8">
            <div class="section-inner">   
            <div class="container "> 
                <div class="row">
                    <h2  class="section-heading text-center">KONTAKT</h2>
                    <div style="margin-bottom: 15px;" class="col-xs-12 wow fadeIn text-center">
                        <p>Wir freuen uns, von Ihnen zu hören! Für Reservierungen, Fragen oder spezielle Anfragen stehen wir Ihnen gerne zur Verfügung. Hier finden Sie alle notwendigen Informationen, um uns zu erreichen:
                        </p>
                        </div>
                        
                    <div class="col-md-7  col-xs-12 wow fadeIn text-center contact-div">
                    

 <div class="contact_icon"> <i class="fa fa-map-marker" aria-hidden="true"></i> <p>Hauptstraße 4, 2340 Mödling</p> </div>   
 <div class="contact_icon"> <i class="fa fa-phone" ></i> <p >02236864023</p></div>   
 <div class="contact_icon"> <i class="fa fa-envelope-o" aria-hidden="true"></i>  <p>bazroz.restaurant@gmail.com</p>  </div>   
 <div lang="de" class="contact_icon"> <i class="fa fa-clock-o" aria-hidden="true"></i>

    <div  class="row contact-row">


    <div >
        <div class="col-xs-12 text-left contact-date">
            Do - Di: 11:00 - 21:00
    </div>
    <div class="col-xs-12 text-left contact-date">
        Mittwoch: GESCHLOSSEN
    </div>

    </div>
    
</div>
</div>   


            </div>

                    <div class="col-md-5  col-xs-12 wow fadeIn text-center">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2665.213207772483!2d16.291260877051513!3d48.08682795469189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476daf05743ed925%3A0xdebd7dfa9794ea89!2sHauptstra%C3%9Fe%204%2C%202340%20M%C3%B6dling!5e0!3m2!1sde!2sat!4v1705160897927!5m2!1sde!2sat"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>
            </div>
        </section>




  

{% include 'includes/footer.html' %}

        <div id="bottom-frame"></div>

        <a href="#" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>

    </div>

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/init.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function(){
       'use strict';
        jQuery('#headerwrap').backstretch([
          "{% static 'assets/img/bg/16342.jpg' %}",
          "{% static 'assets/img/bg/bg-main.jpg' %}",
        //   "assets/img/bg/bg3.jpg",
        ], {duration: 8000, fade: 500});
    });
    </script>



<script>
    $(document).ready(function() {
        // Calculate the total height of the covered sections
        var totalHeight = 0;
        $(".covered-section").each(function() {
            console.log(totalHeight)
            totalHeight += $(this).height();

});

        // Set the height of the vertical line
        $(".vertical-line1").height(totalHeight);
        $(".vertical-line2").height(totalHeight);

    });
</script>



</body>

</html>
